@using BlazorGoldenZebra.Data
@using BlazorGoldenZebra.Models.ViewModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inject UserManager<ApplicationUser> _userManager 
@inject IDbContextFactory<GoldenZebraSecurityContext> DbFactory

@attribute [Authorize(Roles = "admin")]

<div class="row">
    <div class="col-md-12">
        <EditForm method="post" Model="Password" OnValidSubmit="ChangeUserPasswordAsync" FormName="edit" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary role="alert" />
        <input type="hidden" name="User.Id" value="@UserId" />
            <div class="mb-6">
                <label for="password" class="form-label">Пароль:</label>
            <InputText id="password" @bind-Value="Password.NewPassword" class="form-control" />
            <ValidationMessage For="() => Password.NewPassword" class="text-danger" />
            </div>
        <div class="mb-6">
            <label for="confirmPassword" class="form-label">Подтверждение пароля:</label>
            <InputText id="confirmPassword" @bind-Value="Password.PasswordConfirmation" class="form-control" />
            <ValidationMessage For="() => Password.PasswordConfirmation" class="text-danger" />
        </div>
            <hr />
            <button type="submit" class="btn btn-warning"><i class="bi bi-pencil"></i> Сохранить</button>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string UserId { get; set; }

    [Parameter]
    public Func<Task> AfterSave { get; set; }

    [SupplyParameterFromForm]
    private PasswordChangeModel? Password { get; set; } = new PasswordChangeModel();

    private GoldenZebraSecurityContext context = default!;

    private ApplicationUser AppUser;

    protected override void OnInitialized()
    {
        context ??= DbFactory.CreateDbContext();
        var user = context.AspNetUsers.Include(u => u.Roles).FirstOrDefault(m => m.Id == UserId);

        AppUser = _userManager.Users.Single(u => u.UserName.Equals(user.UserName));

        context.Dispose();
        // if (User is null)
        // {
        //     NavigationManager.NavigateTo("notfound");
        // }
    }

    private async Task ChangeUserPasswordAsync()
    {
        try
        {
            if (Password.NewPassword != Password.PasswordConfirmation)
                throw new Exception("Passwords entered do not match.");

            var user = await _userManager.FindByIdAsync(UserId);
            if (user == null)
                throw new Exception("User not found.");

            if (await _userManager.HasPasswordAsync(user))
                await _userManager.RemovePasswordAsync(user);

            var result = await _userManager.AddPasswordAsync(user, Password.NewPassword);
            if (result.Succeeded)
            {
                // return NoContent();
            }
            else
                throw new Exception(result.Errors.First().Description);

            if (AfterSave != null)
            {
                await AfterSave();
            }
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }
}
